// navbar



.navbar{
    background-color: $rojo_brillante;
    padding: 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
   
.navbar-brand{
    color: white;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 4px;
}
 .nav-item{

    .nav-link{
         
        color:$color_piel;
        letter-spacing: 3px;
        font-weight: 700;
        font-size: 20px;
        transition: .5s ease-in-out;
        margin: 0 5px;
     &:hover{
       color: aliceblue;
       font-size: 22px;
     }
    }

}  
 
}

 

.section-links{
    display: flex;
    margin-left: 10%;
    align-items: center;
   

   li{
    margin: 0 13px;
   } 
   a{
    .bi{
        font-size: 22px;
        color: $color_piel;
         
    }
   }
}

// header

.carousel {
    height: 80vh;


.carousel-item:nth-child(1){
   background-image: url("https://images.pexels.com/photos/129208/pexels-photo-129208.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");  
   height: 80vh;
   background-position: center;
   background-size: cover;
}
.carousel-item:nth-child(2){
   background-image: url("https://images.pexels.com/photos/1830447/pexels-photo-1830447.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");  
   height: 80vh;
   background-position: center;
   background-size: cover;
   background-position-y: -260px;
}
.carousel-item:nth-child(3){
   background-image: url("https://images.pexels.com/photos/3614082/pexels-photo-3614082.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");  
   height: 80vh;
   background-position: center;
   background-size: cover;
}

 
}
.carousel-item{
 h1{
    color: rgb(68, 62, 62);
    letter-spacing: 5px;
    font-weight: 700;
 }
h1:nth-child(1){
    padding-top: 3rem;
    font-size: 25px;
}
p{
    font-size: 20px;
    color: $vino_tinto;
    font-weight: 400;
    letter-spacing: 4px;

}
button{
    border: none;
    padding: 10px;
    border-radius: 8px;
    letter-spacing: 4px;
    font-weight:500;



}

}
// product-section

.categorias{
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    
  

    button{
        margin: 5px;
        background-color: $rojo_brillante;
        border: none;
        padding: 10px;
        border-radius: 10px;
        font-size: 12px;
        @include fuente($font_style,600,$color_piel,2px)
    }
}
.section-p{
    h1{
        text-align: center;
        padding: 2rem;
        text-transform: uppercase;
      @include fuente($font_style,500,$vino_tinto,3px)
    }
}
.product-section{
    display: flex;
    margin-top:3rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}



//Foooter

.footer {

    margin-top: 4rem;
    padding-bottom: 1rem;
        
     
      

    .bnn1{
  padding: 2rem;
  background-color: rgb(35, 35, 34);
  @include fuente($font_style,400,white,2px)
    }

    .bnn2{
    padding: 2rem;
     background-color: $rojo_brillante;
     @include fuente($font_style,400,rgb(0, 0, 0),2px);
     
     .bar{
        position: relative;
        
     }
     input{
        width: 90%;
        padding: .4rem;
        position: relative;
      }

      button{
         position: absolute;
         left: 84%;
         padding: .5rem;
         background-color: black;
         color: aliceblue;
         letter-spacing: 2px;
         font-weight: 800;
         border: none;
         
      }
   
    
    }
    }



.ftr{
  
    justify-content: space-around;
    padding-top: 2rem;
img{
    height: 50px;
}

    h6{
    @include fuente($font_style,600,$Boton_colores,2px)
       
    }
h1{
    padding-bottom: 2rem;
    @include fuente($font_style,900,black,4px)
}
    ul{
        list-style: none;
        li{
            padding: 8px;
        }
        i{
            margin: 4px;
            padding: 4px;
            font-size: 16px;
            color: black;
            
        }
    }
}