@import "./variables";
@import "./mixing.scss";
@import "./homepage";
@import "./card";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "./productList";

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


