@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.navbar {
  background-color: #f01945;
  padding: 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
}
.navbar .navbar-brand {
  color: white;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 4px;
}
.navbar .nav-item .nav-link {
  color: #ffe3c9;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 20px;
  transition: 0.5s ease-in-out;
  margin: 0 5px;
}
.navbar .nav-item .nav-link:hover {
  color: aliceblue;
  font-size: 22px;
}

.section-links {
  display: flex;
  margin-left: 10%;
  align-items: center;
}
.section-links li {
  margin: 0 13px;
}
.section-links a .bi {
  font-size: 22px;
  color: #ffe3c9;
}

.carousel {
  height: 80vh;
}
.carousel .carousel-item:nth-child(1) {
  background-image: url("https://images.pexels.com/photos/129208/pexels-photo-129208.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  height: 80vh;
  background-position: center;
  background-size: cover;
}
.carousel .carousel-item:nth-child(2) {
  background-image: url("https://images.pexels.com/photos/1830447/pexels-photo-1830447.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-position-y: -260px;
}
.carousel .carousel-item:nth-child(3) {
  background-image: url("https://images.pexels.com/photos/3614082/pexels-photo-3614082.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  height: 80vh;
  background-position: center;
  background-size: cover;
}

.carousel-item h1 {
  color: rgb(68, 62, 62);
  letter-spacing: 5px;
  font-weight: 700;
}
.carousel-item h1:nth-child(1) {
  padding-top: 3rem;
  font-size: 25px;
}
.carousel-item p {
  font-size: 20px;
  color: #670d0f;
  font-weight: 400;
  letter-spacing: 4px;
}
.carousel-item button {
  border: none;
  padding: 10px;
  border-radius: 8px;
  letter-spacing: 4px;
  font-weight: 500;
}

.categorias {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.categorias button {
  margin: 5px;
  background-color: #f01945;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #ffe3c9;
  letter-spacing: 2px;
}

.section-p h1 {
  text-align: center;
  padding: 2rem;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #670d0f;
  letter-spacing: 3px;
}

.product-section {
  display: flex;
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footer {
  margin-top: 4rem;
  padding-bottom: 1rem;
}
.footer .bnn1 {
  padding: 2rem;
  background-color: rgb(35, 35, 34);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: white;
  letter-spacing: 2px;
}
.footer .bnn2 {
  padding: 2rem;
  background-color: #f01945;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
}
.footer .bnn2 .bar {
  position: relative;
}
.footer .bnn2 input {
  width: 90%;
  padding: 0.4rem;
  position: relative;
}
.footer .bnn2 button {
  position: absolute;
  left: 84%;
  padding: 0.5rem;
  background-color: black;
  color: aliceblue;
  letter-spacing: 2px;
  font-weight: 800;
  border: none;
}

.ftr {
  justify-content: space-around;
  padding-top: 2rem;
}
.ftr img {
  height: 50px;
}
.ftr h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #ed2246;
  letter-spacing: 2px;
}
.ftr h1 {
  padding-bottom: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  color: black;
  letter-spacing: 4px;
}
.ftr ul {
  list-style: none;
}
.ftr ul li {
  padding: 8px;
}
.ftr ul i {
  margin: 4px;
  padding: 4px;
  font-size: 16px;
  color: black;
}

.card {
  border: none;
  border-radius: 10px 10px 0 0;
  background-color: rgb(230, 233, 233);
  position: relative;
  width: 14rem;
  height: 400px;
  overflow: hidden;
}
.card .botones {
  position: absolute;
  right: 0;
  padding: 5px;
  border-radius: 0 0 0 10px;
}
.card .botones button {
  border: none;
  padding: 5px;
  background-color: rgb(230, 233, 233);
  font-size: 15px;
}
.card .card-body {
  background-color: #ffffff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #670d0f;
  letter-spacing: 2px;
  height: 100%;
}
.card .card-body button {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s ease-in-out;
  border: none;
  background-color: #f01945;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #ffe3c9;
  letter-spacing: 2px;
  border-radius: 10px;
  padding: 6px;
}
.card:hover button {
  bottom: 20px;
}
.card span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 7px 5px 5px;
  font-size: 14px;
  color: #ffffff;
  border-radius: 10px 0 10px 0;
  background-color: #f01945;
  letter-spacing: 2px;
}

.banners {
  justify-content: center;
}
.banners .card {
  margin: 2rem;
  width: 450px;
}
.banners .card .card-body {
  height: 200px;
}
.banners .card .card-body a, .banners .card .card-body p {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: black;
  letter-spacing: 2px;
}

.banners .card {
  background-size: cover;
}
.banners .card .card-body {
  background-size: cover;
  background-position: center;
}
.banners .card .c1 {
  background-image: url("https://plus.unsplash.com/premium_photo-1684407616428-8a42a289b288?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.banners .card .c2 {
  background-image: url("https://plus.unsplash.com/premium_photo-1683121730776-feef85b8299f?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.pBanner {
  text-align: center;
}
.pBanner h1 {
  z-index: 98;
  transform: translateY(8rem);
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  color: white;
  letter-spacing: 2px;
  font-size: 300px;
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
  color: #ffffff;
}
.pBanner .card {
  position: relative;
  background-image: url("https://giftroom.com.ar/cdn/shop/collections/productos-tecnologicos-2.webp?v=1742679673");
  background-size: cover;
}

.filtros {
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
  align-items: center;
}
.filtros .titulo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #670d0f;
  letter-spacing: 4px;
  font-size: 30px;
}
.filtros select {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  color: #670d0f;
  letter-spacing: 3px;
  margin-left: 4px;
}
.filtros span {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #ed2246;
  letter-spacing: 3px;
}
.filtros i {
  padding: 3px;
  font-size: 18px;
}

.filtroSeccion {
  background-color: #f01945;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.filtroSeccion .btn {
  background-color: #ffe3c9;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: black;
  letter-spacing: 3px;
  border: none;
  font-size: 13px;
  margin-left: 8%;
}
.filtroSeccion .card {
  background-color: #f01945;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #ffe3c9;
  letter-spacing: 3px;
  font-size: 12px;
  margin: 5px 0;
}

.details {
  padding-top: 8rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: rgb(62, 61, 61);
  letter-spacing: 3px;
}
.details .image {
  background-color: rgb(241, 241, 241);
}
.details nav ol {
  background-color: white;
  padding-left: 0;
}
.details nav ol li, .details nav ol a {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: rgb(136, 124, 124);
  letter-spacing: 3px;
}
.details .dd {
  padding-left: 2rem;
}
.details span {
  padding: 1rem;
}

.gallery img {
  background-color: rgb(241, 241, 241);
}

.details .cc {
  border-top: 1px solid rgb(199, 198, 198);
  padding-top: 2rem;
}
.details .redes ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.details .redes i, .details .redes b {
  padding: 6px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: rgb(62, 61, 61);
  letter-spacing: 3px;
  font-size: 12px;
}

.details h3 {
  letter-spacing: 3px;
  font-weight: 700;
}
.details h6 {
  color: #670d0f;
  font-size: 25px;
}
.details h4 {
  font-size: 12px;
}

.more {
  height: 60vh;
  width: 80%;
  margin-top: 5rem;
}
.more .nav-item {
  background-color: #ffe3c9;
}
.more .tab-content {
  padding: 2rem;
  background-color: #ffe3c9;
  border-radius: 0 20px 20px 20px;
  display: flex;
  align-items: flex-start;
}

.more {
  overflow: scroll;
  overflow-x: hidden;
}
.more a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: rgb(63, 62, 62);
  letter-spacing: 3px;
}
.more .review {
  margin: 10px 0;
  padding: 1rem;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  color: #670d0f;
  letter-spacing: 4px;
}
.more .review img {
  height: 30px;
  background-color: #f01945;
  border-radius: 50%;
}
.more .review-d {
  display: flex;
  flex-direction: column;
}
.more .review-d h6 {
  font-weight: 800;
  font-size: 17px;
}
.more .review-d h5 {
  font-size: 15px;
}
.more .review-d h4 {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 2px;
  color: rgb(78, 77, 77);
}
.more .tab-pane h4 {
  font-size: 16px;
  font-weight: 200;
}

.more .detalles {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  color: #670d0f;
  letter-spacing: 3px;
  font-size: 13px;
  padding: 1rem;
}
.more p {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  color: #670d0f;
  letter-spacing: 3px;
  font-size: 13px;
}
.more .tabla {
  padding: 5px;
  font-size: 13px;
  text-align: center;
  margin-bottom: 1rem;
}
.more .tabla th {
  padding: 3px;
  font-size: 11px;
}
.more h6 {
  font-size: 11px;
}
.more h4 {
  font-weight: 700;
}

.relative {
  padding-top: 2rem;
}
.relative h3 {
  margin-bottom: 4rem;
  padding-top: 3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: · #670d0f;
  letter-spacing: 4px;
}
.relative .relate {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boderRight {
  border-right: 1px solid rgb(138, 137, 137);
}

.tt {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #670d0f;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 3rem 0;
}

.formulario {
  font-size: 12px;
}
.formulario input {
  border: solid gray 1px;
}
.formulario input::-moz-placeholder {
  letter-spacing: 2px;
  font-size: 12px;
  color: rgb(142, 139, 139);
}
.formulario input::placeholder {
  letter-spacing: 2px;
  font-size: 12px;
  color: rgb(142, 139, 139);
}
.formulario label {
  padding-top: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #670d0f;
  letter-spacing: 3px;
}
.formulario select {
  display: flex;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 10px;
}
.formulario select option {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: rgb(101, 100, 100);
  letter-spacing: 3px;
}
.formulario .message input {
  min-height: 100px;
}
.formulario button {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f01945;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: rgb(255, 255, 255);
  letter-spacing: 3px;
  font-size: 15px;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.formulario button:hover {
  background-color: #670d0f;
  scale: 1.01;
}

.data-container {
  padding-left: 4rem;
}
.data-container .data {
  margin-top: 10px;
}
.data-container .data h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #670d0f;
  letter-spacing: 4px;
}
.data-container .data p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: black;
  letter-spacing: 4px;
  font-size: 10px;
}
.data-container .data span {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #f01945;
  letter-spacing: 4px;
  font-size: 12px;
}
.data-container .data span i {
  background-color: #ffe3c9;
  margin-left: 4px;
  border-radius: 20px;
  font-size: 22px;
  margin-right: 6px;
}

.section_2 {
  margin-top: 6rem;
  padding: 1rem;
}
.section_2 .acordeon-1 h1 {
  font-size: 50px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  color: #670d0f;
  letter-spacing: 1px;
}
.section_2 .acordeon-2 h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #670d0f;
  letter-spacing: 1px;
}
.section_2 .acordeon-2 p {
  line-height: 2rem;
}
.section_2 .acordeon-2 button {
  border: none;
  width: 70%;
  background-color: rgb(198, 196, 196);
  border-radius: 10px;
  text-align: start;
  font-size: 15px;
  padding: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #670d0f;
  letter-spacing: 1px;
}
.section_2 .accordion-body {
  width: 70%;
}

.card {
  border: none;
  border-radius: 10px 10px 0 0;
  background-color: rgb(230, 233, 233);
  position: relative;
  width: 14rem;
  height: 400px;
  overflow: hidden;
}
.card .botones {
  position: absolute;
  right: 0;
  padding: 5px;
  border-radius: 0 0 0 10px;
}
.card .botones button {
  border: none;
  padding: 5px;
  background-color: rgb(230, 233, 233);
  font-size: 15px;
}
.card .card-body {
  background-color: #ffffff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #670d0f;
  letter-spacing: 2px;
  height: 100%;
}
.card .card-body button {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s ease-in-out;
  border: none;
  background-color: #f01945;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #ffe3c9;
  letter-spacing: 2px;
  border-radius: 10px;
  padding: 6px;
}
.card:hover button {
  bottom: 20px;
}
.card span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 7px 5px 5px;
  font-size: 14px;
  color: #ffffff;
  border-radius: 10px 0 10px 0;
  background-color: #f01945;
  letter-spacing: 2px;
}

.banners {
  justify-content: center;
}
.banners .card {
  margin: 2rem;
  width: 450px;
}
.banners .card .card-body {
  height: 200px;
}
.banners .card .card-body a, .banners .card .card-body p {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: black;
  letter-spacing: 2px;
}

.banners .card {
  background-size: cover;
}
.banners .card .card-body {
  background-size: cover;
  background-position: center;
}
.banners .card .c1 {
  background-image: url("https://plus.unsplash.com/premium_photo-1684407616428-8a42a289b288?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.banners .card .c2 {
  background-image: url("https://plus.unsplash.com/premium_photo-1683121730776-feef85b8299f?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.header-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #670d0f;
  letter-spacing: 3px;
  background-color: rgb(233, 225, 225);
}
.header-cart H1, .header-cart a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #670d0f;
  letter-spacing: 3px;
  padding-top: 2rem;
}
.header-cart nav, .header-cart ol {
  background-color: rgb(233, 225, 225);
}

.carrito {
  padding: 2rem;
}
.carrito table .thead {
  background-color: #670d0f;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: white;
  letter-spacing: 4px;
  font-size: 14px;
  text-align: end;
}
.carrito table tbody {
  text-align: end;
}

.total {
  border-radius: 10px;
}
.total table {
  width: 100%;
}
.total th {
  text-align: start;
  color: gray;
}
.total th, .total td {
  border: none;
  padding: 10px;
}
.total button {
  margin: 10px 0;
  border-radius: 20px;
  padding: 10px;
  background-color: #f01945;
  letter-spacing: 3px;
  color: white;
  border: none;
  font-size: 14px;
}

.targeta {
  border-bottom: 1px solid rgb(190, 185, 185);
}
.targeta td {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: black;
  letter-spacing: 2px;
}
.targeta button {
  border: none;
  padding: 3px;
  background-color: #f01945;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
}

.tarjetas tr {
  background-color: black;
}
.tarjetas i {
  font-size: 30px;
  padding-right: 20px;
}
.tarjetas img {
  background-color: rgb(222, 217, 217);
  padding: 5px;
}
.tarjetas h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  color: #670d0f;
  letter-spacing: 2px;
  margin-left: 20px;
}

.encabezado {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(233, 225, 225);
}
.encabezado nav, .encabezado ol, .encabezado a {
  background-color: rgb(233, 225, 225);
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #670d0f;
  letter-spacing: 2px;
}

.lista-deseos {
  padding: 1rem;
  margin-top: 1rem;
}
.lista-deseos thead {
  background-color: #670d0f;
  color: #ffe3c9;
}
.lista-deseos thead th {
  padding-left: 20px;
  font-size: 15px;
  letter-spacing: 3px;
}

.login {
  background-image: url("https://as2.ftcdn.net/v2/jpg/13/75/43/55/1000_F_1375435546_jEyfauUaM5tXDwAIaPZ1GO6aLkpI6Fl0.jpg");
  padding-top: 7rem;
  height: 100%;
  display: flex;
  justify-content: center;
  background-size: cover;
}
.login .formulario {
  background-color: #f36444;
  padding: 1rem;
  margin: 2rem;
  border-radius: 30px;
  text-align: center;
  width: 350px;
}
.login .formulario h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: white;
  letter-spacing: 3px;
  padding-top: 10px;
}
.login .formulario p {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: white;
  letter-spacing: 3px;
  font-size: 16px;
}
.login input {
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}
.login a {
  color: #670d0f;
  display: inline-block;
  font-size: 18px;
}
.login span {
  margin-bottom: 20px;
}
.login span a {
  border: 1px solid white;
  padding: 5px;
  margin: 3px;
  border-radius: 10px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s ease-in;
  cursor: pointer;
  color: white;
}
.login span a:hover {
  background-color: #f01945;
  border-color: #f01945;
}
.login span a i {
  padding: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}/*# sourceMappingURL=main.css.map */